/* Overlay projets/productions */

img{
  vertical-align: middle;

}

.card-production{
    position: relative;
    margin-block-end: 0;
  }
  
  .card-production img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .card-production .overlay{
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 2.5rem;
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(90deg);
    transition: .3s;
  }
  
  .card-production:hover .overlay{
    transform: scale(1);
  }